/* Type whatever CSS you need here! */


/* Render Students CSS */

.roll_call
{
    margin-bottom: 0.4em;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.roll_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student_present
{
    margin: 10px;
    width:200px; 
    height:80px;
    background-color:#C3F252;
    border: 1px black solid;
}

.student_absent
{
    margin: 10px;
    width:200px; 
    height:80px;
    background-color:#F05F4F;
    border: 1px black solid;
}

/* Render Poker Hand */

.hand
{
    display: flex;
    margin: auto;
    justify-content: flex-start
}

.card
{
    max-width:100%;
    /* height: 300px; */
}

/* Render Restarants */

.menu
{
    font-size: 3.5em;
    margin: auto;
    display: flex;
    width: 15em;
    align-items: center;
    justify-content: center
}

.restaurant
{
    display: flex;
    border-radius: 5px;
    background-color: #DADADA;
    flex-direction: column;
    width: 2.6em;
    height: 1.5em;
    margin: .07em;
    justify-content: flex-start;
    align-content: flex-start;
    padding: .03em .05em .05em .1em;
}

.name
{
    font-size: .42em;
    margin-bottom: 0;
    text-align: left;
}

.type
{
    font-size: .6em;
    margin: 0;
    text-align: left;
}

.quality
{
    font-size: .9em;
    margin: 0;
    text-align: left;
    color: #5DB22D
}

/* Render Movies CSS */

.movie_block
{
    background-color: #AEAEAE;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 7%;
}

.movie_poster
{
    flex:1;
    object-fit: contain;
    margin: 3%;
    width: 25vw;
}

.movie_info
{
    display: flex;
    flex:1;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
    flex-direction: column;
    margin: 3% 3% 3% 0%;
    justify-content: space-between;
    font-size: 2em;

}

.movie_title
{
    font-weight: bold;
    margin-bottom: 0;
    /* margin-top: 3% */
    /* font-size:  */
}

.movie_year
{
    font-size: .5em
}

.movie_rating
{
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Render Tweets CSS */

.tweet_body
{
    font-size: 2.5em;   
    border: 1px black solid;
    margin-bottom: 1.5em;
    padding: .5em;
    width:16em;
}

.tweet_header
{
    display: flex;
    font-size: .5em;
}


.profile_pic
{
    align-self: flex-start;
    height: 2.5em;
    margin: .03em;
}

.user_info
{
    display: flex;
    flex-direction: column;
    margin: .5em;
}

h5
{
    margin-bottom: 0;   
}

.user_handle
{
    color: gray;
    font-size: .6em;
    opacity: 50%;
    text-align: left;
}

.tweet_text
{
    font-size: .8em;
    text-align: left;
    line-height: 1.1em;
}

.tweet_footer
{
    display:flex;
    font-size: .4em;   
    margin-bottom: 0;  
}

.footer_content
{
    margin: 0em .5em 0em .5em;
}

.comment_icon
{
    width: 1em;
}

.retweet_icon
{
    width: 1em;
}

.like_icon
{
    width: 1em;
}

.email_icon
{
    width: 1em;
    margin-left: .5em;
}

.user_verified
{
    width:1.2em;
}

/* Render Albums CSS */

.playlist_block
{
    font-size: 5vw;
    padding: 0 15%;
    /* display: flex; */
    /* flex-direction: column; */
    /* max-width: 15em; */
}

.artist_name
{
    text-align: left;
    font-size: 1.6em;
    border-bottom: 1px lightgray solid;
    /* margin-bottom: .3em; */
}

.album_title
{
    display: flex;

}

.album_cover
{
    width: 2em;
    text-align:left;
    margin-top: .9em;
    
}

.album_title span
{
    font-size: .7em;
    text-align: left;
    position: relative;
    padding-top: 2.7em;
    padding-left:.5em;
}

.song_container
{
    font-size: .5em;
    display: flex;
    justify-content: space-between;
}

.play_button
{
    margin-right: .6em;
}

/* Render Survey CSS */

